# Python cache
__pycache__

# Used to start the bot locally (atleast for me, I have the discord token in there)
/run.sh

# Used on runtime to run the bot with special stuff
/developer.lock

# Dev file that stores commit text
/commit.md

# Secret christmas stuff
/christmas

# Binaries
/luac
/luap

# User-generated content
/luacode
/data.db
